.my-full-screen-dialog .mat-dialog-container {
  max-width: none;
  width: 100vw;
  height: 100vh;
  padding:0;
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.accept-container{
  height:100%;
}
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.top{
  display: inline-grid;
  grid-template-columns: auto auto;
  height:20%
}
.top-left {
  margin-right: 20%;
}
.top-right{
  display: inline-block;
  vertical-align: top;
  margin-top:3%;
}
.top-half{
  margin:0 5%;
}
.content {
  background-color: #f9f9fc;
  height:75%;
}
.bottom{
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto auto;
}
.bottom-left{
  margin: 10% 5% 5% 20%;
  border-right:thin solid #e0e0e9;
}
.bottom-right{
  margin: 10% 15% 10% 10%;
}
.items-table tr td:nth-child(1){
  font-weight:700;
  padding:15px 15px 15px 0;
}
.items-table tr td:nth-child(2){
    font-weight:400;
    padding-left: 50px;
}
.payment-summary{
  display:flex;
  align-items: center;
}
.payment-title {
  font-size:15px;
  font-weight: 400;
}
.payment-value {
  font-size:15px;
  font-weight: 700;
}
.btn-confirm{
    background-color: rgb(67, 73, 233); 
    color:white; 
    width: 30%;
    padding: 15px 0;
}
