<div class="accept-container">
  <mat-toolbar style="background: #fff">
    <mat-toolbar-row>
      <i style="font-size: 48px; color: rgb(67, 73, 223)" class="material-icons rotate-180" (click)="closeDialog()">play_circle_filled</i>
      <p style="font-weight:400;color:#AAAAC0">Edit Options</p>
      <span class="fill-remaining-space"></span>
      <i style="font-size: 24px; color: rgb(232,232,240);" class="material-icons">help</i>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="top">
    <div class="top-left top-half">
      <h1>Confirm Plan</h1>
      <p style="color: #AAAAC0; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="top-right">
      <div style="display: inline-block; width: 35%; max-width: 100%; height: auto;vertical-align: top;object-fit: scale-down">
        <img style="max-width:100%" src="/assets/logo_with_words.png">
      </div>
      <p style="color: #AAAAC0;display: inline-block">
        <span style="color:black">
          <strong>Joohn Tiffee, DDS</strong>
        </span>
        <br> General Dentistry
        <mat-divider></mat-divider>
        <br> 2100 Garner Field
        <br> Rd, Uvalde,
        <br> TX 78801
      </p>
    </div>
  </div>
  <div class="content">
    <div class="bottom">
      <div class="bottom-left">
        <table class="items-table">
          <tr>
            <td>Patient:</td>
            <td>{{data.patient}}</td>
          </tr>
          <tr>
            <td>Treatment:</td>
            <td>{{data.treatment_name}}</td>
          </tr>
          <tr>
            <td>Treatment Length:</td>
            <td>{{data.treatment_length}} months</td>
          </tr>
          <tr *ngIf="data.addonAmount.length != 0">
            <td>Add Ons:</td>
            <td >
              <ul>
                <li *ngFor="let addon of data.addonAmount">
                  {{addon.label}}
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Payment Term:</td>
            <td>{{data.payment_term}} months</td>
          </tr>
          <tr>
            <td>Initial Payment:</td>
            <td>${{data.initial_payment.toLocaleString()}}</td>
          </tr>
          <tr>
            <td>Monthly Payment:</td>
            <td>${{data.monthly_payment.toLocaleString()}}</td>
          </tr>
        </table>
      </div>
      <div class="bottom-right">
        <div class="payment-summary">
          <p class="payment-title">Treatment Total:</p>
          <span class="fill-remaining-space"></span>
          <p class="payment-value">${{data.treatment_total.toLocaleString()}}</p>
        </div>
        <mat-divider></mat-divider>
        <div *ngIf="data.addonAmount.length != 0">
          <h4>Add Ons</h4>
          <div class="payment-summary" *ngFor="let addon of data.addonAmount" style="line-height: 0">
              <p class="payment-title">{{addon.label}}</p>
              <span class="fill-remaining-space"></span>
              <p class="payment-value">${{addon.value.toLocaleString()}}</p>
          </div>
          <mat-divider></mat-divider>
          <div class="payment-summary">
              <p class="payment-title">Total</p>
              <span class="fill-remaining-space"></span>
              <p class="payment-value">${{data.addonTreatmentTotal.toLocaleString()}}</p>
          </div>
        </div>
        <div class="payment-summary">
            <p class="payment-title">Insurance</p>
            <span class="fill-remaining-space"></span>
            <p class="payment-value">$-1,000</p>
        </div>
        <mat-divider></mat-divider>
        <div *ngIf="data.financeExist">
        <div class="payment-summary">
            <p class="payment-title" style="color:#e35ec5">Finance Charges</p>
            <i class="large material-icons" style="color: #d1d1dd;padding-left:5%">info</i>
            <span class="fill-remaining-space"></span>
            <p class="payment-value" style="color:#e35ec5">$+{{data.financeAmount}}</p>
        </div>
        <mat-divider></mat-divider>
      </div>
        <div class="payment-summary">
            <p class="payment-title">Grand Total</p>
            <span class="fill-remaining-space"></span>
            <p class="payment-value" style="font-size: x-large;color:blue; " >${{data.grandTotalVar.toLocaleString()}}</p>
        </div>
      </div>
    </div>
    <div style="text-align: center">
      <button mat-raised-button class="btn-confirm">CONFIRM</button>
    </div>
  </div>
</div>

