#app {
	width: 100%;
	height: 100%;
}
.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
#left {
    width: 75%;
	height: 100%;
    display: inline-block;
}
#left .top-bar>*{
    display:inline-block;
}
#left .info-container {
    margin-left: 5%;
}
#left .left-info-panel {
    display:inline-block;
    width: 50%;
}
#left .right-info-panel{
    float:right;
    width:50%;
}
#left .right-info-panel .button-group {
    text-align: center;
}
#left .right-info-panel button{
    color:white;
    size:x-large;
    background-color: rgb(67, 73, 233);
    font-size: x-small;
    margin: 10px 0;
}


#left .message {
    display:inline-block;
    border-radius: 15px;
	width: 90%;
}
#left .message>p{
    font-size:18;
    padding: 0 20px;
	text-align: center;
}
.add-on-container {
    display:flex;
    align-items: center;
}
.addon-label {
    margin-left: 8%;
    margin-right: 2%;
    /*color: #d2d2dc;*/
}
.blue-message-bg {
	background-color: #ddf6f8;
}
.green-message-bg {
	background-color: rgb(217, 249, 241);
}
.yellow-message-bg {
	background-color: rgb(254, 245, 222);
	
}
.blue-message {
	color: rgb(65, 205, 238);
}
.green-message {
	color: rgb(58, 187, 155);
}
.yellow-message {
	color: rgb(202, 162, 59);
}

#left .graph {
	position: relative;
	left: 0;
	right: 0;
	max-width: 100%;
}
.mat-progress-bar {
  position:relative;
  bottom: 0;
  height: 16px !important;

  /* And if you want the div to be full-width: */
  left: 0;
  right: 0;
  z-index: 100;
}
#right {
    background-color: rgb(243,243,251);
    width: 25%;
    float: right;
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
#patient-name {
    font-size: 18px;
}
#valid-date {
    font-size: 18px;
}

.upper-right {
    background-color:rgb(210,210,225);
    margin: 0;
    padding: 1px 0 0 0;
}
.logo-div {
    margin:0;
    padding:0;
    width: auto;
    height: auto;
    max-height:100%;
}
.logo-info {
    background-color: rgb(210,210,225);
    margin-left:5%;
}
.example-header-image {
    background-image: url('/assets/Patient_Image.png');
    background-size: cover;

  }
  .mat-grid-tile-alligment{
    align-items: top !important;
  }
.mat-figure{
    align-items: top !important;  
}
.payment-plan {
    margin:0 25px;
}
.payment-plan>div {
    color: rgb(137, 137, 166);
    background-color: rgb(233,233,245);
    margin-bottom: 10px;
    line-height:0;
    display:flex;
    align-items: center;
}
.payment-plan>div>p{
    color: #616184;
}
.info-note {
	display: block;
    font-size:12px;
    float:right;
    color:#616184; 
}
.info-title{
    font-size: x-large;
}
.info-label {
    margin-left:15px;
    font-weight: 500;
}
.info-value {
    font-size:22px;
    font-weight:bold;
    padding-right: 5px;
}
.cost-item{
    display:flex;
    align-items: center;
}
.summary {
    margin: 0 25px;
}
.summary-label {
    font-size:15px;
    font-weight: 400;
}
.summary-value {
    font-size:15px;
    font-weight: 700;
}
.summary-result {
    font-size:20px;
    font-weight:bold;
    color:blue; 
}
.small {
    font-size: 10px;
    font-weight: 600%;
}
#btn-accept{
    background-color: rgb(67, 73, 233); 
    color:white; 
    width: 90%;
    margin: 10px 15px;
    padding: 8px 0;
}
.card-style{
    margin-right: 20px;
    width: 100%;
}
.card-style-noshadow{
    box-shadow: none;
}
.info-addons{
    color: rgb(137, 137, 166);
    background-color: rgb(233,233,245);
    margin-left: 20px;
    margin-right: 20px;
    line-height: 50px;
    padding-left: 20px;
    width: 100%;
}
.center {
    margin: auto;
    width: 100%;
    text-align:center;
}
.mat-grid-tile mat-figure{
    margin: none;
    vertical-align: top;
    align-items: none;
}
.mat-card-title{
    font-size: x-large;
}
.mat-card-subtitle{
    font-size: large;
}
.info-icon {
    color:#cecedd;
    cursor: pointer;
}
.info-icon:hover{
    cursor: pointer;
}

.vranger {
    margin-top: 50px;
     transform: rotate(270deg);
    -moz-transform: rotate(270deg); /*do same for other browsers if required*/
  }

  
.rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.range-body {
    fill: #666;
}
.range-dragger {
    fill: tomato;
    cursor: pointer;
}
.range-label {
    fill: #fff;
    text-anchor: middle;
    font-size: 2em;
    pointer-events: none;
}
.range-axis line, .range-axis path {
    stroke: #666;
}
.range-axis text {
    fill: #666;
}
.slider {
    height:350px;
    width: 40px;
    margin:0 auto 30px;
    border-radius: 40px;
}
.slider .noUi-base{
    border-radius: 15px;
}
.max-discount {
    height:35px;
    position:absolute;
    border-radius: 15px 15px 0 0;
}
.max-discount p{
    padding:0;
    margin:0;
    font-size:small;
    font-weight:600;
}
.medium-discount {
    height:140px;
    margin-top:35px;
    vertical-align: middle;
    position:absolute;
    background-color:#FAFAFA;
}
.medium-discount p{
    padding-top:60px;
    font-size:small;
    font-weight:600;
}

#finance-extra {
    position:absolute;
    left:0;
    height:30px;
    background-color:#f2c42f;
    padding:0;
    margin:0;
    border:none;
    text-align:center;
    width:38px;
    display:none;
}
#monthlypaylabel{
    position:absolute;
    bottom:175px;
    padding-left: 75px;
    color: #f3c508;
    font-weight:600;
}
/*
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
/deep/.mat-slide-toggle-bar{
    border-radius: 16px !important;
    width: 75px !important;
    height: 25px !important;
}
/deep/.mat-slide-toggle-thumb{
    height: 30px !important;
    width: 30px !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(45px, 0, 0) !important;
}

/deep/.mat-slide-toggle-bar-width{
    width: 75px !important;
}
/deep/.mat-slide-toggle-bar-track-width{
    width: 75px !important;
}*/



::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: blue; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: skyblue;  /*replace with your color*/
}

::ng-deep .mat-accent .mat-slider-thumb {
    background-color: blue;
} 
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: blue;
} 
::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: grey;
}

::ng-deep .mat-slider-vertical {
    width: 40px !important;
}

@media only screen and (max-width: 1100px) {
    #left{
        width:65%;
    }
    #right{
        width:35%;
    }
}

@media only screen and (max-width: 767px) {
    .payment-plan>div{
        line-height: initial;
    }
    .logo-info{
        font-size:13px;
    }
}