<div id="app">
  <div id="left">
    <mat-toolbar id="left-topbar" style="background-color:white">
      <i style="font-size: 48px; color: rgb(67, 73, 223);vertical-align:middle" class="material-icons rotate-180" (click)="treatmentSelect()">play_circle_filled</i>
      <p style="padding-left: 5px; vertical-align: middle;font-weight:200;font-size:medium">View All Treatments</p>
      <span class="fill-remaining-space"></span>
      <i style="color: rgb(232,232,240);cursor: pointer;" class="x-large material-icons" (click)="openPopup(0)">info</i>
    </mat-toolbar>
    <div id="left-info" class="info-container">
      <div class="left-info-panel">
        <div class="treatment">
          <h1 style="font-size: xx-large">{{treatmentTitle()}}</h1>
          <p style="font-size: large; font-weight:350;color:#aaaac0">{{treatmentDesc()}}</p>
          <p style="font-size:large">
            <strong>Total Treatment cost: ${{treatmentTotal()}}</strong>
          </p>
        </div>
        <mat-divider></mat-divider>
        <div class="add-ons">
          <h3>Add Ons</h3>
          <div style="background-color: rgb(243, 243, 251);">
            <div class="add-on-container">
                <h4 id="extra-retainer" class="addon-label">Extra Retainer: <span class="addon-value">$500</span></h4>
                <i class="x-large material-icons info-icon" (click)="openPopup(0)">info</i>
                <span class="fill-remaining-space"></span>
                <mat-slide-toggle style="vertical-align: middle;padding-right:10%" [(ngModel)]="extraoption2" (change)="graphData()"></mat-slide-toggle>
            </div>
            <div class="add-on-container">
              <h4 id="wildsmile" class="addon-label">Wild Smile $250</h4>
              <i class="x-large material-icons info-icon" (click)="openPopup(0)">info</i>
              <span class="fill-remaining-space"></span>
              <mat-slide-toggle style="vertical-align: middle;padding-right:10%; "[(ngModel)]="extraoption1" (change)="graphData()"></mat-slide-toggle>
            </div>
          </div>
        </div>
      </div>
      <div class="right-info-panel">
        <div class="button-group">
          <button id="full-payment" (click)="fullPayment()" mat-raised-button>
            <strong>PAY IN FULL</strong>
          </button>
          <button id="most-popular" (click)="popularPayment()" mat-raised-button>
            <strong>MOST POPULAR</strong>
          </button>
          <button id="lowest-initial-payment" (click)="lowestPayment()" mat-raised-button>
            <strong>LOWEST INITIAL PAYMENT</strong>
          </button>
        </div>
        <div class="sliders">
          <div style="width: 50%;float: left;text-align: center">
            <h4>Initial Payment</h4>
            <div id="downpayment" class="slider">
              <div class="max-discount">
                <p>4% OFF</p>
              </div>
              <div class="medium-discount">
                <p>2% OFF</p>
              </div>
            </div>
          </div>
          <div style="width: 50%;float: right;text-align: center">
            <h4>Monthly Payment</h4>
            <div id="monthlypayment" class="slider">
              <p *ngIf=financeExists() id="monthlypaylabel">+${{ financeAmountMonth() }}</p>
              <div id="finance-extra">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]="{'blue-message-bg': blueMessage, 'green-message-bg': greenMessage, 'yellow-message-bg': yellowMessage}" class="message">
        <p [ngClass]="{'blue-message': blueMessage, 'green-message': greenMessage, 'yellow-message': yellowMessage}">
          <i class="material-icons" (click)="openPopup(0)">info_outline</i>
          {{messageBox().toLocaleString()}}
        </p>
      </div>
    </div>

    <div id="graph" class="graph">
      <canvas id="chart" baseChart options="maintainAspectRatio: false" [colors]="chartColors" style="display: block" [chartType]="'line'"
        [datasets]="chartData" [options]="chartOptions" [legend]="false" [labels]="false">
      </canvas>
    </div>
    <mat-progress-bar id="progress-bar" class="example-margin" [mode]="determinate" [value]="monthProgress">
    </mat-progress-bar>
    <div id="downpayment1"></div>
  </div>
  <div id="right">
    <mat-toolbar style="padding:0 1px;background-color: rgb(210,210,225);">
      <img class="logo-div" src="/assets/logo_with_words.png">
      <h4 class="logo-info">Fasy &amp; Brown
        <br>Orthodontics</h4>
      <span class="fill-remaining-space"></span>
      <i style="color:rgb(232,232,240);vertical-align:top;cursor: pointer;" class="large material-icons" (click)="openPopup(0)">info</i>
    </mat-toolbar>
    <mat-card [style.backgroundColor]="'rgb(243,243,251)'" class="card-style-noshadow mat-elevation-z0">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image mat-card-md-image"></div>
        <mat-card-title id="patient-name">
          <strong>Patient</strong>
          <br>{{first_name}} {{last_name}}</mat-card-title>
        <mat-card-title id="valid-date">
          <strong>Valid until</strong>
          <br>12/26/17</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
    </mat-card>
    <div class="calculator">
      <div class="payment-plan">
        <p class="info-title">Payment Plan</p>
        <div>
          <p class="info-label">PAYMENT TERM</p>
          <span class="fill-remaining-space"></span>
          <p class="info-value">{{paymentTerm()}}
            <span class="small">mo</span>
          </p>
        </div>
        <div>
          <p class="info-label">INITIAL PAYMENT</p>
          <span class="fill-remaining-space"></span>
          <p class="info-value">${{downPaymentVar.toLocaleString()}}</p>
        </div>
        <div>
          <p class="info-label">MONTHLY PAYMENT</p>
          <span class="fill-remaining-space"></span>
          <p class="info-value">${{monthlyPayment()}}</p>
        </div>
        <p class="info-note" *ngIf=financeExists()>{{financeMessage()}}</p>
      </div>
      <div class="summary">
        <p class="info-title">Summary</p>
        <div class="cost-item">
          <p class="summary-label">Treatment Total</p>
          <span class="fill-remaining-space"></span>
          <p class="summary-value">$ {{treatmentTotalVar.toLocaleString()}}</p>
        </div>
        <div *ngIf=extraoption2 class="cost-item">
          <p class="summary-label">Wild Smile</p>
          <span class="fill-remaining-space"></span>
          <p class="summary-value">${{add_on_total_1}}</p>
        </div>
        <div *ngIf=extraoption1 class="cost-item">
          <p class="summary-label">Extra Retainers</p>
          <span class="fill-remaining-space"></span>
          <p class="summary-value">${{add_on_total_2}}</p>
        </div>
        <mat-divider></mat-divider>
        <div class="cost-item">
          <p class="summary-label">
            <strong>Total</strong>
          </p>
          <span class="fill-remaining-space"></span>
          <p class="summary-value">$ {{totalValue().toLocaleString()}}</p>
        </div>
        <div class="cost-item">
          <p class="summary-label"> Insurance</p>
          <span class="fill-remaining-space"></span>
          <p class="summary-value">$ -{{insuranceVar.toLocaleString()}}</p>
        </div>
        <div *ngIf=discountExists() class="cost-item">
          <p class="summary-label" style="color: green">Discount</p>
          <i class="x-large material-icons info-icon" (click)="openPopup(0)">info</i>
          <span class="fill-remaining-space"></span>
          <p class="summary-value" style="color: green">$ -{{discountAmount().toLocaleString()}}</p>
        </div>
        <div *ngIf=financeExists() class="cost-item">
          <p class="summary-label" style="color: rgb(202, 162, 59)">Finance Charges</p>
          <span class="fill-remaining-space"></span>
          <p class="summary-value" style="color: rgb(202, 162, 59)">$ +{{financeAmount().toLocaleString()}}</p>
        </div>
        <mat-divider></mat-divider>
        <div class="cost-item">
          <p class="summary-label">
            <strong>Grand Total:</strong>
          </p>
          <span class="fill-remaining-space"></span>
          <p class="summary-result">$ {{grandTotal().toLocaleString()}}</p>
        </div>
        <button mat-raised-button id="btn-accept" (click)="accept()">ACCEPT</button>
        <p style="text-align: center;color:rgb(174, 174, 195)">Powered by Ortho2</p>
      </div>
    </div>

  </div>
</div>

