<div style="text-align: center">
  <h1>
    Choose one of our available
    <br> treatments
  </h1>
</div>
<swiper>
  <div>
    <div class="carousel-item">
      <img style="max-width:100%" src="/assets/DentalImage1.png">
      <h1 class="select-title">Damon Clear Braces</h1>
      <p class="select-subtitle">
        <strong>24 Months Term</strong>
      </p>
      <h1 class="select-price">$5,600</h1>
      <p class="select-description">Virtually invisible, Damon Clear has clear advantages over traditional braces and aligners. Damon Clear is part of
        the Innovative Damon System, which combines tireless braces with high technology...</p>
      <button class="select-button" mat-raised-button (click)="select1()">SELECT</button>
    </div>
  </div>
  <div>
    <div class="carousel-item">
      <img style="max-width:100%" src="/assets/DentalImage2.png">
      <h1 class="select-title">Invisalign</h1>
      <p class="select-subtitle">
        <strong>24 Months Term</strong>
      </p>
      <h1 class="select-price">$5800</h1>
      <p class="select-description">Choose the clear aligner system committed to continuous innovation, with 20 years of clinical resaerch and more than
        700 patents. No other clear aligner is backed by the data and experience of 5 million cases.</p>
      <button class="select-button" mat-raised-button (click)="select2()">SELECT</button>
    </div>
  </div>
  <div>
    <div class="carousel-item">
      <img style="max-width:100%" src="/assets/DentalImage3.png">
      <h1 class="select-title">Damon Metal Braces</h1>
      <p class="select-subtitle">
        <strong>24 Months Term</strong>
      </p>
      <h1 class="select-price">$5300</h1>
      <p class="select-description">The Damon System is not just about revolutionary braces and wires, it's a whole new way of treating patients. Traditional
        treatment often requires removal of healthy teeth and/or use of palatal expanders.</p>
      <button class="select-button" mat-raised-button (click)="select3()">SELECT</button>
    </div>
  </div>
</swiper>

