.divider{
    width:20px;
    height:auto;
    display:inline-block;
    opacity: 0; 
}
.carousel-item{
    text-align: center;
    background:white;
    width:386px;
    margin: 0 auto;
}
.select-title{
    font-size: x-large;
}
.select-subtitle{
    font-size:medium;
    color: #AAAAC0
}
.select-price{
    font-size:xx-large;
    color:#4349df;
}
.select-description{
    color: rgb(187,187,204);
    margin:0 5%;
}
.select-button {
    background-color: rgb(67, 73, 233);
    color: white;
    width: 80%;
    margin: 20px auto;
    padding: 10px 0;
}