<div class="tip-container">
    <mat-toolbar style="background:white;max-height:10px;">
          <span class="fill-remaining-space"></span>
          <i class="material-icons" style="cursor:pointer" (click)="closePopup()">clear</i>
      </mat-toolbar>
  <h1 class="title">
    {{data.title}}
  </h1>
  <p class="description">
    {{data.content}}
  </p>
  <button class="ok-button" mat-raised-button (click)="closePopup()">OK</button>
</div>
