.tip-container{
    text-align:center;
}
.title{
    text-align:left;
    font-size:xx-large;
    font-weight:bold;
}
.description{
    text-align: left;
    font-size:medium;
    color:#7c7c83;
}
.ok-button{
    background-color: rgb(67, 73, 233);
    color: white;
    width: 80%;
    margin:0 auto;
    padding: 10px 0;
    text-align:center;
}
.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }