@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url(https://fonts.googleapis.com/css?family=Concert+One);
@import url(https://fonts.googleapis.com/css?family=Advent+Pro:300);

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;

}